<link rel="apple-touch-icon" sizes="60x60" href="{{ "/images/apple-touch-icon-60x60.png" | prepend: site.asset_dir | prepend: site.basedir }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/images/apple-touch-icon-180x180.png" | prepend: site.asset_dir | prepend: site.basedir }}">
<link rel="icon" type="image/png" href="{{ "/images/favicon-192x192.png" | prepend: site.asset_dir | prepend: site.basedir }}" sizes="192x192">
<link rel="icon" type="image/png" href="{{ "/images/favicon-160x160.png" | prepend: site.asset_dir | prepend: site.basedir }}" sizes="160x160">
<link rel="icon" type="image/png" href="{{ "/images/favicon-96x96.png" | prepend: site.asset_dir | prepend: site.basedir }}" sizes="96x96">
<link rel="icon" type="image/png" href="{{ "/images/favicon-32x32.png" | prepend: site.asset_dir | prepend: site.basedir }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ "/images/favicon-16x16.png" | prepend: site.asset_dir | prepend: site.basedir }}" sizes="16x16">